@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@300;400;500;600&display=swap');

*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{margin:0;font-family:$familyPrimary;font-size:$bodyFontSize;font-weight:400;line-height:1.34;color:$primaryGrayColor;text-align:left;background-color:$whiteColor}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}
p{margin-top:0;margin-bottom:1rem}
address{margin-bottom:1rem;font-style:normal;line-height:inherit}
dl,ol,ul{margin-top:0;margin-bottom:1rem}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
dt{font-weight:700}
dd{margin-bottom:.5rem;margin-left:0}
blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}
a{color:$linkColor;text-decoration:none;background-color:transparent}
a:hover{color:$linkColorHover;text-decoration:underline}a:not([href]){color:inherit;text-decoration:none}a:not([href]):hover{color:inherit;text-decoration:none}code,kbd,pre,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}pre{margin-top:0;margin-bottom:1rem;overflow:auto}figure{margin:0 0 1rem}img{vertical-align:middle;border-style:none}svg{overflow:hidden;vertical-align:middle}table{border-collapse:collapse}caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}th{text-align:inherit}label{display:inline-block;margin-bottom:.5rem}button{border-radius:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,input{overflow:visible}button,select{text-transform:none}select{word-wrap:normal}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}textarea{overflow:auto;resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px;-webkit-appearance:none}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}output{display:inline-block}summary{display:list-item;cursor:pointer}template{display:none}[hidden]{display:none!important}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem; font-weight: $semibold;line-height:1.2}
.h1,h1{font-size:2.5rem}
.h2,h2{font-size:2rem}
.h3,h3{font-size:1.75rem}
.h4,h4{font-size:1.5rem}
.h5,h5{font-size:1.25rem}
.h6,h6{font-size:1rem}
img{max-width: 100%; }
.p20{padding: 20px;}
.overflow-auto{ overflow: auto; }

@import 'displays-and-positions';
@import 'header';
@import 'overview';

// Scroll Css
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #D5D2D2; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #D5D2D2; 
  }




// buttons Css
.btn{background: none; border: 0; padding: 2px 10px; margin: 0; outline: none; color: inherit; transition: all 0.5s; font-size: 12px; 
  &.btn-sm{font-size: 12px; padding: 2px 10px; }
  &.btn-big{font-size: 16px; line-height: 18px; padding: 9px 15px }
  // &.btn-link.btn-sm{padding: 2px; }
  &.btn-link{padding: 4px 5px!important; }
  &:disabled{ opacity: 0.3;
    input{ pointer-events: none; }
  }
}
.btn-file{ position: relative; 
  .file{overflow: hidden;}
  input[type='file']{ width: 100%; height: 100%;  opacity: 0; position: absolute; right: 0; top: 0; cursor: pointer; }
}
.btn-lnk-white{color:$whiteColor}

.btn-block{ display: block; width: 100%; }
.text-center{ text-align: center; }

.btn-outline{ border: 1px solid; border-radius: 20px;
  &.primary{ border-color: $colorBlue; color: $colorBlue;}
  &.light{border: 2px solid; }
  &:disabled{ border-color: $primaryGrayColor; color: $primaryGrayColor; }
}

.btn-icon{ padding: 0; margin: 0; }
.btn-link{ padding: 0; margin: 0; border-bottom: 1px solid; text-decoration: none;
  &:hover{text-decoration: none}
  &:disabled{ border-color: $primaryGrayColor; color: $primaryGrayColor; }
}
.upper-case{ text-transform: uppercase; }
.btn-sm{font-size: 12px;}

// Margins and Paddings
.m-0{ margin: 0!important; }
.mb-1{ margin-bottom: 10px!important; }
.mb-2{ margin-bottom: 20px!important; }
.mb-3{ margin-bottom: 30px!important; }
.mb-4{ margin-bottom: 40px!important; }
.mb-5{ margin-bottom: 50px!important; }

.p-0{ padding: 0!important; }
.p-1{ padding: 10px!important; }
.p-2{ padding: 20px!important; }
.pr-0{padding-right: 0px!important; }
.pb-1{ padding-bottom: 10px!important; }
.pb-2{ padding-bottom: 20px!important; }
.pb-3{ padding-bottom: 30px!important; }
.pb-4{ padding-bottom: 40px!important; }
.pb-5{ padding-bottom: 50px!important; }
.p-lr-2{ padding-left: 20px!important; padding-right: 20px!important; }
.p-tb-2{ padding-top: 20px!important; padding-bottom: 20px!important; }

.revise-header{ background: $pinkColor; color: $whiteColor; }

// Radius
.radius-rt{border-radius: 0 10px 0 0;}
.radius-lt{border-radius: 0 0 0 10px;}
.radius-rb{border-radius: 0 0 10px 0;}
.radius-lb{border-radius: 0 0 0 10px;}
.radius{border-radius: 10px;}
.radius-50{border-radius: 100%;}

// themes = for overview and objective components
.theme1{ 
  .theme-section{background-color:$theme1; color: $theme1-text-color;}
  .header{background-color:$theme1-header; color: $theme1-header-text-color; }
  .objective-section{background-color:$theme1-first-panel;}
  .overview-section{background-color:$theme1-second-panel;}
  .action-section{color: $theme1-actions-color;}
}

.theme2{
  .theme-section{ background-color:$theme2; color: $theme2-text-color;}
  .header{background-color:$theme2-header;color: $theme2-header-text-color;}
  .objective-section{background-color:$theme2-first-panel;}
  .overview-section{background-color:$theme2-second-panel;}
  .action-section{color: $theme2-actions-color;}
}

.theme3{
  .theme-section{ background-color:$theme3; color: $theme3-text-color;}
  .header{background-color:$theme3-header;color: $theme3-header-text-color;}
  .objective-section{background-color:$theme3-first-panel;}
  .overview-section{background-color:$theme3-second-panel;}
  .action-section{color: $theme3-actions-color;}
}
 
// Common css for page
.page{ min-height: 100vh; }
.theme-section{ min-height: 100vh; }
.heading2{font-size: 18px; margin: 0; padding: 0; font-weight: $semibold; font-family: $familySecondary; display: flex; align-items: center;
  &.big{ font-size: 22px; }
  &.primary{color: $headingColor;}
  img{ margin: 0 10px 0 0; }
}
.heading3{ font-size: 16px; font-weight: $bold; font-family: $familySecondary; }
.heading4{font-family: $familySecondary; font-size: 12px;font-weight:$semibold;margin:0;text-transform: uppercase;}


@media (max-width:900px){
  .heading2{
    &.big{ font-size: 18px; }
  }
}




//BodyBold/Light/Left
.body-bold-light{ font-size: 15px; font-weight: $light; line-height: 22px; }

// BodyCopy
.body-copy{font-size: 15px; line-height: 20px; font-weight: $light;}

@media (max-width:900px){
  .heading2{ font-size: 18px; }
}


// Card Css
.card{ font-size: 15px;
  .img{margin:0 12px 0 0;position: relative;
  }
  .info{line-height:1.4; flex-grow: 1;  word-break: break-word;}
  .check-icon{position:absolute;right:-5px;bottom:-5px;}
}
.check-icon{ width:24px;height:24px;border-radius: 50%;}

// CheckPoints Nav Listing
.points-nav{margin:0;list-style: none;padding:0; line-height: 20px;
  .item{margin:0;padding:0 0 10px 40px;min-height:50px;position: relative;
    a{color: inherit; cursor: pointer;}
    &:before{content:"";display:block;left:12px;height:calc(100% - 25px);top:25px;width:1px;border-left:1px solid;position: absolute;left:12px;top:25px;}
    &:last-child:before{content:none;}
    .bullet{ position: absolute; left: 0; top: 0;      
      .bullet-icon{width:25px;height:25px;position:relative;border-radius: 50%;border:2px solid ;display:inline-block;
        &:before{content:"";background:rgba(255,255,255,0.5);border-radius:100%;width:100%;height:100%;display:inline-block;position:absolute;left:0;top:0;}                
      }
    }
    
    .label{width: 100%; display: flex; justify-content: space-between; align-items: flex-start; cursor: pointer;}
    .info{line-height: 22px; flex-grow: 1; padding-right: 10px;}
    .caret-icon{min-width: 24px; transition: all 0.5s;}
    &.completed{
      .bullet{ 
        .bullet-icon{
          &:before{background:$colorBlue;width:70%;height:70%;left:3px;top:3px;}
        }
      }
    }    
    &.inprogress{
      .bullet{ 
        .bullet-icon{
          &:before{background:$inProgressColor;width:70%;height:70%;left:3px;top:3px;}
        }
      }
      .sub-menu{ 
        li{ position: relative; padding:5px 0;
          .bullet{ left: -32px; top: 6px;
            .bullet-icon{background:$inProgressColor;}
          }
        }
      }
    }   
    &.locked{ pointer-events: none; cursor: not-allowed;
      .label{ font-weight: $light;}
      .bullet{ 
        .bullet-icon{
          &:before{background:url(../images/lock-icon.svg) no-repeat 50% 50%;}
        }
      }           
    }
    &.active{
      .caret-icon{ transform: rotate(-180deg);}
      .sub-menu{ display: block; }
    }
  }
  ol,ul{ padding:10px 0; margin: 0; list-style: none; }
  .sub-menu{ 
    li{ position: relative; padding:5px 0;
      .bullet{ left: -32px; top: 6px;
        .bullet-icon{width:10px;height:10px; border:none; background:$colorBlue;
          &:before{display: none}
        }
      }
      &.disabled{ 
        .bullet-icon{ opacity: 0.6}
      }
      
      a.current,
      a[style]{
        padding: 0 10px 2px;
        background: #e1eeff;
        display: inline-block;
        border-radius: 20px;
        border: 1px solid #067dfe;

      }

     }
  }

  &.points-nav-display-olny{
    .caret-icon,
    .sub-menu{ display: none!important; }
  }
}

// Point with projress
// .points-with-progress{
//   .points-nav{
//     .item:before{ background: $blackColor; }
//   } 
// }

// Badge Css
.badge {
  display: inline-block;
  padding: .25em .8em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .5rem;
}
.badge-primary{ background: $colorBlue; color: $whiteColor; }
.addnote-btn{ background: $buttonBg; text-align: left; justify-content: flex-start; align-items: center; padding: 10px;
  img{ margin: 0 10px 0 0; }
  .badge{ margin: 0 0 0 10px; }
}

.points-container{ overflow: auto; height: calc(100vh - 200px); 
  .points-nav{ margin: 0 10px 0 0; }
}

.check-icon,
.close-icon{ width: 25px; height: 25px; border: 0; 
 img{  border-radius: 50%;}
  }


// Forms css

.form-field{
  .field{ padding: 5px;  border: 1px solid $form-border-color; width: 100%; font-weight: $light;
    &:focus{ outline: none; border-color:$inputFocusColor; }
  }
  teaxtarea{
    background: linear-gradient(180deg, #EEEEEE 0%, #F8F8F8 100%);
    padding: 7px;
    height: 100px;
    resize: none;    
  }
}




.confirm-message{
  animation: showMe 0.3s forwards; opacity: 0; 
  padding: 5px 10px; width: 100%; display: none; display: none; align-items: center; justify-content: space-between; border: 1px solid $colorBlue; border-radius:10px;  
  &.show{ display: flex; }
  p{ padding:0; margin: 0; line-height: 1.2; }
  .actions{ padding: 0 0 0 20px; white-space: nowrap;
    .btn{ margin: 0 5px }
  }
}
 
 

@keyframes showMe {
  from {opacity: 0; transform: scale(0);}
  to {opacity: 1;transform: scale(1);}
}


// custum radio
.custom-control{min-height: 20px;;padding:0 0 0 35px;color:$quest-num-color;position: relative;
  
  input[type="radio"]{position: absolute;left:0;top:0;opacity: 0;width:21px;height:21px;z-index:-1;}
  // input[type="radio"] + span{width:21px;height:21px;border-radius:100%;border:1px solid $quest-num-color;display:inline-block;position: absolute;left:0;top:0;}
  // input[type="radio"] + span:after{content:"";position:absolute;left:4px;top:4px;width:12px;height:12px;border-radius:100%;background:$radio-active-color}
 
  label{vertical-align:top;position: relative;font-size:18px;font-weight:$light;margin:0;line-height:1.2;
   &:before{content:"";width:21px;height:21px;border-radius:100%;background:$custum-bg-color;border:1px solid $quest-num-color;display:inline-block;position: absolute;left:-35px;top:0;transition:all .15s ease-in-out}
   &:after{content:"";position:absolute;left:-30.5px;top:5px;width:12px;height:12px;border-radius:100%;background:$custum-active-color;transform:scale(0);transition:all .15s ease-in-out}
  }
  input[type="radio"]:checked ~ label{font-weight:$regular;}
  input[type="radio"]:checked ~ label{
    &:after{transform:scale(1)}
  }
  input[type="radio"]:focus ~ label{
    &:before{box-shadow: 0 0 0 0.2rem rgba(45,27,24,.1)}
  }
}
.container{ padding: 0 18px;}
.navigator{ background: $navigator; color: $whiteColor;
  .container{padding-top: 7px;padding-bottom: 7px; min-height: 40px; }
  .hamburger-icon{ margin: 0 16px 0 0; }
}


.guidance-modal{background: $overlayColor; position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 99; color: $whiteColor; display: none;
  &.show{display: block;}
  .section{max-width: 300px; margin: 200px 0 0 240px; }
  .text{padding: 0 0 20px;font-size: 18px; font-family: "Bradley Hand"; }
  .arrow{ background: url(../images/indicator-arrow-desk.svg) no-repeat 0 0; width: 204px; height: 140px; position: absolute; 
    left: 29px;
    top: 102px;
   }
  @media(max-width:767px){
    .section{
      max-width: 246px;
      margin: 182px auto 0;
      padding: 0 0 0 40px;
     }
    .arrow{ background-image: url(../images/indicator-arrow-mob.svg);
      top: 75px;
      left: 20px;
    }
  }  
}

.row{ 
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;

  >[class^=col],
  >[class^=col-] {
    padding-right: 8px;
    padding-left: 8px;
    }
  .col{flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;}

    .col-3{ 
      flex: 0 0 25%;
      max-width: 25%;
    }

  .col-4{ 
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  @media (max-width:900px){
    >[class^=col],
    >[class^=col-] { flex: 0 0 100%;
      max-width: 100%; } 
  }
}

// Embed
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &::before {   
     display: block;
    content: "";
    padding-top: 52.7%;
  }
  .item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .video-player{ 
    .my-video-dimensions{width:100%; height: 100%; }
  }
}

.hamburger-icon{ flex: 0 0 25px; }

// Tool tip
.tooltip{ position: absolute; bottom:100%; left: 50%; transform: translateX(-50%); display: none; font-size: 10px;
  .tooltip-inner {
      max-width: 200px;
      padding: .25rem .5rem;
      color: #fff;
      text-align: center;
      background-color: $primaryGrayColor;
      border-radius: .25rem;
      white-space: nowrap;
  }
  .arrow {
    position: absolute; top: calc(100% + 4px); left: 50%; transform: translateX(-50%);
      &::before {
      width: 0; 
      content: '';
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;      
      border-top: 5px solid $primaryGrayColor
    }
  } 
}

.btn:hover{
  .tooltip{display: block;}
}


// Modal css
@import 'modal';

// Video css
@import 'video';

// Notes css
@import 'notes';

// Question css
@import 'question';


// Revise Detail css
@import 'revise-detail';

// Summary css
@import 'summary';

