@import 'variables';
.header{color:inherit; width: 100%; transition: all 0.5s; 
  *{transition: all 0.5s;}
  .container{ justify-content: space-between; align-items: center; padding-top: 10px;padding-bottom: 10px; min-height: 64px; }
  .col{ justify-content: flex-start; align-items: center;
    .btn{ margin: 0 16px 0 0; }
  }
}

@media (max-width:900px){
  .header{
    .container{ min-height: 40px;}
    .progress-chart-icon{ 
      img{width: 28px; height: 28px;}
     }
  }
  .header{
    &.small{
      .container{ padding: 0 10px; min-height: 20px;}
      .heading2,
      .progress-chart-icon,
      h1,h2{ opacity: 0; font-size: 0; }
      .btn-icon{transform: scale(0.7);}
     }
  }
}