@import 'variables';
.modal{position: fixed;top: 0;left: 0;z-index: 1050;display:none;width: 100%;height: 100%;overflow: auto;outline: 0;margin: 0; padding: 0;
  .overlay {position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background-color: $overlayColor; opacity: 1}
  .container{ padding: 0; }
  .modal-dialog{ display: flex;
      &.left-dialog{margin:0;}
      &.full-length{min-height:100%;}
      position: relative; z-index: 1;    
  }


  &.for----demo{ position: static; background:$overlayColor; padding: 20px 0!important;height: 100vh;
    .overlay { display: none;}

  }

  .modal-content{background:$whiteColor; position: relative; transition: all 0.3s; 
    .close-modal{position: absolute; right: 20px;top: 20px; border-radius: 50%; z-index: 1;
      img{display: block;border-radius: 50%;  }
    }
  }
  &.show{display:block;
    .modal-content{}   
  }
  
  &.side-nav{ padding: 0;
  .container{ padding: 20px 0 20px 16px;}

    .modal-dialog{ display: block; justify-content: flex-start; height: 100%; }
    .modal-content{background:$whiteColor; width: 82%; max-width: 422px; min-height: 100%; border-radius: 0 25px 0 0;}
    &.left{
      .modal-content{ height: 100%; }
    }
    .close-modal{ right:-40px; top: 40px;  } 
    
  }
  &.modal-center{ 
      .modal-dialog{display: flex; justify-content: center; align-items: center; padding: 20px;}
    .modal-content{ max-width: 614px; width: 100%; border-radius: 25px; }
    &.modal-full{
      .modal-content{border-radius: 25px; }
    }
  }

  &.modal-bottom{ 
    .modal-dialog{align-items: flex-end; justify-content: center;}
    .modal-content{ max-width: 614px; width: 100%; border-radius: 25px 25px 0 0;       
      .close-modal{ top: -40px;}
    }
    .section.mid{height: calc(100vh - 150px); overflow: auto;}           
  }  

  

  &.modal-full{ 
    .modal-content{ width: 100%; border-radius: 0; max-width: 100%; }    
  }


}


// @media (max-width:767px){
//   .modal{ padding: 0;
//     &.bottom-sm{
//       .modal-dialog{ align-items: flex-end; }      
//     }
//   }
//   @media (orientation: portrait) {
//     .modal{ padding: 0;
//       &.bottom-sm{
//       .section{height: calc(100vh - 150px); overflow: auto;}      

//         .modal-content{
//           &.border-radius{ border-radius: 25px 25px 0 0; }
//           .close-modal{ top: -40px;}
//         }
//       }
//     }
//   }

//   @media (orientation: landscape) {
//     .modal {
//       .modal-content{ max-width: 100%; }
//       &.bottom-sm{
//         .modal-content{
//           &.border-radius{ border-radius: 0; }
//         }
//       }
//     }
//   }

// }


