.summary{
    .section{ padding: 0 20px; 
      &.top{ padding: 20px;
       .d-flex{justify-content: space-between;}
       h3{margin:0;}
       }
      &.mid{ padding:0 0 25px; color:$primaryGrayColor;font-weight:$light;
     
      }
      &.container{max-width:860px;margin:0 auto;padding:0 15px;}
      
    }
    
    .summry-details-box{padding:20px 30px;background:$uploadedFileCard;border:1px solid $borderLigthBlue;min-height: calc(100vh - 140px);
        .info{margin:0 0 20px;}
        .link-sec{
            p{margin:0 0 1px;line-height:1.2;
             a{color:$summary-details-link-color;text-decoration: none;}
            }

        }
     }     
}

@media (max-width:900px){
  .summary{
    .section{      
      &.container{padding:0}
      &.top{ padding: 14px; }
    }
    .summry-details-box{border-radius: 25px 25px 0 0;}
  }     
}
