// All Colors
$primaryColor:#067dfe;
$primaryGrayColor:#202020;
$whiteColor:#fff;
$blackColor:#000;
$pinkColor:#D03B63;
$headingColor: #1268B3;
$colorBlue:#5451BA;
$inputFocusColor: hsl(208, 82%, 39%);
$borderLigthBlue:#D6E5F1;
$navigator:$primaryGrayColor;
$linkColor:$primaryColor;
$linkColorHover:#1268b3;

// Overlay
$overlayColor:rgba(0,0,0,0.75);

// Notes
$uploadedFileCard: #F2F6F9;
$dateColor: #757575;

// Add Note
$buttonBg: #eee;

// Progress Nav
$inProgressColor:#067dfe;


// Font Families
$familyPrimary: 'Lato', sans-serif;
$familySecondary: 'Raleway', sans-serif;
$bodyFontSize:15px;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Responsive Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200pxtce-video
) !default;


// themes1 color
$theme1:#7C243B;
$theme1-text-color:$whiteColor;
$theme1-header:#D03B63;
$theme1-header-text-color: $whiteColor;
$theme1-first-panel:#D03B63;
$theme1-second-panel:#A62F50;
$theme1-third-panel:#A62F50;
$theme1-actions-color:$whiteColor;

// themes2 color
$theme2:#257966;
$theme2-text-color:$whiteColor;
$theme2-header:#3FCAAA;
$theme2-header-text-color: $whiteColor;
$theme2-first-panel:#3FCAAA;
$theme2-second-panel:#3FCAAA;
$theme2-third-panel:#3FCAAA;
$theme2-actions-color:$whiteColor;
 
// theme3 color
$theme3:#fff;
$theme3-text-color:$primaryGrayColor;
$theme3-header:#eee;
$theme3-header-text-color: $primaryGrayColor;
$theme3-first-panel:#eee;
$theme3-second-panel:#ccc;
$theme3-third-panel:#ccc;
$theme3-actions-color:$primaryGrayColor;

//video player color
$video-progres-color:#6AC7F9;
$video-time-tooltip:#ffffff;
$video-hd-btn-bg-color:#4796cc;
$video-hd-btn-gradeint-top:#67c3f5;
$video-hd-btn-gradeint-bottom:#3278b0;

//Forms color
$form-border-color:#D5D2D2;
$form-bg-color:#f9f9f9;

//questiions
$quest-box-color:#FFFEF7;
$quest-num-color:#624D46;


//custum-radio
$custum-active-color:#806F68;
$custum-bg-color:#e0dad3;

//carusel-buttons
$carousel-btn-color:#dadada;
$carousel-btn-active-color:#067dfe;

//summary-details
$summary-details-link-color:#151515;

