.video-player{position: relative;
  button{ outline: none; }
    .video-dimensions{
      width: 100%;
    }        
    .video-section, 
    .video-js, 
    .video-section, 
    tce-video-player
    { width: 100%; height: 100%!important; display: block; }


  .ql-container{ height: auto; }
  .my-video-dimensions{width:100%;}
  .vjs-poster{background-size:cover}
  .video-js{
      
      .vjs-big-play-button{display:none;}
      .vjs-progress-control {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: .5em;
          top: -20px;
          padding:0 15px;
      }
      .vjs-control-bar{    
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 40px;
          background:transparent;
          justify-content: space-between;
          display:flex;
          opacity: 1;
          visibility: visible;
          background-color:transparent;
          padding:10px 15px; align-items: center;
          
          &::before{  
            content: '';
            position: absolute; 
            bottom: 0;
            left: 0;
            height: 100px;
            width: 100%;
            // background: linear-gradient(180deg, rgba(32,32,32,0.4) 0%, rgba(32,32,32,0.8) 100%);
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(32,32,32,0.8) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(0deg, rgba(32,32,32,0.8) 0%, rgba(0,0,0,0) 100%);
            background: linear-gradient(0deg, rgba(32,32,32,0.8) 0%, rgba(0,0,0,0) 100%);
          }
      }
      
      .vjs-fullscreen-control{
         order:3;
      }
      .vjs-play-control{
          position: absolute;
          left:50%;
          width:auto;
          top:8px;
      }
      .vjs-volume-panel{order:0;height:24px;
        &.vjs-hover .vjs-mute-control ~ .vjs-volume-control{width: 60px; }
      }
      .vjs-icon-play:before{background:red;}
      .vjs-play-control .vjs-icon-placeholder:before{width:22px;height:22px;border-radius:100%;border:1px solid $whiteColor;font-size: 16px;line-height:20px;}
      .vjs-fullscreen-control .vjs-icon-placeholder:before{font-size: 24px;line-height: 1; line-height: 22px;font-size: 18px;}
      .vjs-time-control{display:none;}
      .vjs-picture-in-picture-control{display:none}
      .vjs-progress-holder{height:4px;font-size: 18px;}
      .vjs-slider{background:rgba(255,255,255,0.4)}
      .vjs-play-progress{background:$video-progres-color;
        &:before{color:$video-progres-color;}
      }
      .vjs-progress-control{
          &:hover .vjs-mouse-display{display:none;}
      }
      .vjs-time-tooltip{background-color:rgba(0, 0, 0, 0.8);top:-29px;color:$video-time-tooltip;padding:4px 8px;font-size:10px;border-radius: 0;border:1px solid $video-progres-color;position: relative;
        &:after{content:"";position: absolute;left:50%;bottom: -5px;content: '';
          display: block;
          position: absolute;
          top: auto;
          right: 50%;
          width: 7px;
          height: 7px;
          background: transparent;
          border-right: 1px solid $video-progres-color;
          border-bottom: 1px solid $video-progres-color;
          transform:translateX(-50%) rotate(45deg);
          background-color:rgba(0, 0, 0, 0.8);
        }
      }
      .vjs-volume-bar{margin:1.20em 7px;
         &.vjs-slider-horizontal{width:100%;}
      }
      .vjs-mute-control {width:20px;}
      .vjs-mute-control ~ .vjs-volume-control{    
          width: 60px!important;
          height: 3em;margin-right:0;visibility: visible;
          opacity: 1;
          position: relative;}
      .vjs-slider-horizontal{width:100%;
          .vjs-volume-level{background-color:$video-progres-color;
              &:before{display:none;}
          }
      }

      
  }
  
  
  .vjs-video-controls{position: absolute;left:50%;bottom: 0;width:1px;height:60px; transform: translateX(-50%);
    .prev-btn{position: absolute;left:-40px;top:13px;width:20px;height:15px;padding:0;display:inline-block;cursor: pointer;border:0;outline:none;background-color:transparent;}
    .next-btn{position: absolute;right:-60px;top:27px;width:20px;height:15px;padding:0;display:inline-block;cursor: pointer;border:0;outline:none;background-color:transparent;transform:rotate(180deg);}
   }
   .vjs-hd-btn-box{position: absolute;right:70px;bottom: 27px;}
   .vjs-hd-btn{display:inline-block;width:30px;height:20px;border-radius:2px;cursor:pointer;border:0;outline:none;color:$whiteColor;font-size:10px;text-align:center;background:$video-hd-btn-bg-color; background-image: linear-gradient($video-hd-btn-gradeint-top, $video-hd-btn-gradeint-bottom); box-shadow:inset 0 -3px 3px rgba(0,0,0,0.2); padding: 0 0 1px;}
   
   .vjs-captions{position: absolute;z-index:9;left:0;bottom:0;background:rgba(0,0,0,0.7);color:$whiteColor;padding:0px 20px;width:100%;font-size: 14px; line-height: 1.15;
    max-height: 80%;
    overflow: auto;
    
    tce-web-note-text{
      display: flex; width: 100%; flex-direction: column;
      .caption-btn-sec{ order: 2; position: relative; z-index: 1; }
      quill-view{ order: 1; }
      .ql-editor { 
        padding: 20px 0;
        font-size: 14px;
        font-size: 12px;
        font-weight: $light;
        line-height: 16px;
        ol, ul{ padding: 0; }
       }
    }
  }
   .vjs-notes-btn{position: absolute;right:20px;top:30px;
       button{width:24px;height:24px;padding:0;background:transparent;display:inline-block;cursor:pointer;outline:none;border:0;}
   }
   .caption-btn-sec{text-align: right;padding:0 0 10px; margin: -15px 0 0;}
   .continue-btn{background:$blackColor;border:1px solid $whiteColor;color:$whiteColor;font-size: 14px;text-transform: uppercase;border-radius: 20px;display: inline-block;outline:none;padding:2px 15px;}
   
   .vjs-play-progress:before{z-index: 6;}

}



.video-js .vjs-volume-panel{
  .vjs-icon-placeholder:before{
    background-repeat: no-repeat;
    background-position: 0 0;
    content: ''!important;
    line-height: 10px;
    font-size: 10px;
    height: 25px;
    width: 25px;
  }
  .vjs-control{
    .vjs-icon-placeholder:before{
      background-image: url(../images/volume-icons.svg);       
    }
    &.vjs-vol-0{
      .vjs-icon-placeholder:before{background-image: url(../images/volume-mute-icons.svg);
        background-position: 0 1px;}
      

    }
    &.vjs-vol-1{
      .vjs-icon-placeholder:before{background-image: url(../images/volume-nowaves-icons.svg)}
    }
    &.vjs-vol-2{
      .vjs-icon-placeholder:before{background-image: url(../images/volume-mid-icons.svg)}
    }
  }
}


// :-webkit-full-screen  .video-player{
//   display: none;
// }

// :-moz-full-screen .video-player {
//   display: none;
// }

// :-ms-fullscreen .video-player {
//   display: none;
// }

// :fullscreen .video-player {
//   display: none;
// }


.video-js.vjs-fullscreen{


}