
.modal{position: fixed;top: 0;left: 0;z-index: 1050;display:none;width: 100%;height: 100%;overflow: hidden;outline: 0;padding: 0;margin: 0;
  &.show{display:block;}
}
.modal-dialog{
    &.left-dialog{margin:0;}
    &.full-length{height:100vh;}
    max-width: 500px;
    margin: 1.75rem auto
}
.modal-content{background:$whiteColor;height:100%;
  
}
.modal-backdrop {position: fixed;top: 0;left: 0;z-index: 1040;width: 100vw;height: 100vh;background-color: $blackColor;
  &.show{opacity: 0.75}
}

//commom css
.border-radius-rgt{border-radius: 0 40px 0 0;}